<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.preview.min.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>

<div id="app">
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header"> <!--首页跳转-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">社区</span>
                </button>
                <a class="navbar-brand" href="/">社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="keyword" style="width: 536px;" placeholder="搜索关键字">
                    </div>
                    <button type="button" class="btn btn-default" @click="redirectToSearch">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/edit">发布</a></li>
                    <li><a href="/sign_in.html" v-show="loginCode != 200">登陆</a></li>
                    <li class="dropdown" v-if="loginCode === 200">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span v-text="user.name"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a :href="'/u/' + user.id">个人资料</a></li>
                            <li><a href="/my-notice/unread">我的通知 <span class="badge" v-text="unreadCount"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/authorize/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--详情-->
    <div class="aw-container-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="article-detail">
                        <div class="mod-header">
                            <h1 class="mod-header-title" v-text="article.title"></h1>
                            <div class="list-meta">
                                作者：<span class="content-author"><a
                                    :href="'/u/' + author.id" v-text="author.name"></a></span>
                                发布时间：<span class="meta-content" v-text="article.createTime"> </span>
                                阅读数：<span class="meta-content" v-text="article.viewCount"></span>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <span class="label label-info" v-for="(tag, index) in article.tags">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                    <span v-text="tag"></span>
                                </span>
                            </div>
                            <hr>
                        </div>
                        <div class="mod-body">
                            <div class="markitup-box" id="article-view">
                                <textarea id="description" style="display: none;"></textarea>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <hr>
                            <div class="favor-action">
                                <div :class="['favor-icon', {'active' : article.favorState}]"
                                     @click="clickFavorIcon($event)">
                                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                </div>
                                <span class="favor-num" v-text="article.likeCount"></span>
                                <span>  人已推荐 > </span>
                            </div>
                            <hr>
                            <a :href="'/edit/' + article.id" class="article-menu"
                               v-if="user != null && author.id == user.id">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true">编辑</span>
                            </a>
                        </div>
                    </div>
                    <div class="article-comment">
                        <div class="mod-header comment-count">
                            <h4 v-text="article.commentCount + '个回复'"></h4>
                        </div>
                        <div id="comment" class="mod-body">
                            <div v-if="article.comments" v-for="(comment, index) in article.comments" :id="'comment-' + comment.id" class="comment-body">
                                <div>
                                    <a :href="'/u/' + comment.commentator.id"><img src="/images/user.png" class="notice-user-icon"></a>
                                </div>
                                <div class="comment-item">
                                    <div class="comment-commentator">
                                        <a :href="'/u/' + comment.commentator.id" class="commentator-a"
                                           v-text="comment.commentator.name"></a>
                                    </div>
                                    <div class="comment-otherInfo">
                                        <span class="meta-content" v-text="(index + 1) + '楼'"></span>
                                        <span v-text="comment.createTime"></span>
                                    </div>
                                    <div class="comment-content" v-text="comment.content"></div>
                                    <div class="comment-actions" @click="addCommentRecord($event, index)">
                                    <span :class="{'active': comment.favorState}">
                                        <span class="glyphicon glyphicon-thumbs-up comment-action" aria-hidden="true"></span>
                                        <span v-text="comment.likeCount ? comment.likeCount : '赞'"></span>
                                    </span>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div v-if="!article.comments" class="comment-presentation">当前文章还没有人评论，赶紧抢沙发吧~</div>
                        </div>
                    </div>
                    <div class="article-reply-box">
                        <div class="mod-header">
                            <label v-text="user !== null ? '用户：'  + user.name : '评论功能需要登陆'"></label>
                        </div>
                        <div class="mod-body">
                            <form>
                                <div class="form-group comment-area">
                                    <textarea class="form-control" rows="4" v-model="replyContent"
                                              placeholder="写下你的评论.."></textarea>
                                </div>
                                <button type="button" class="btn btn-success btn-edit-summit" @click="publish">评论
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 aw-side-bar">
                    <div class="aw-mod">
                        <div class="article-creator-info">
                            <div class="aw-head">信息来源</div>
                            <div class="aw-user-name">
                                <a :href="'/u/' + author.id"><img src="/images/user.png" class="notice-user-icon"></a>
                                <div v-text="author.name"></div>
                            </div>
                            <hr>
                        </div>
                        <div class="article-related">
                            <div class="aw-head">相关新闻</div>
                            <div class="aw-body">
                                <ul class="list-body">
                                    <li v-for="(article, index) in article.relatedArticle">
                                        <a :href="'/a/' + article[0]" v-text="article[1]" 
                                           target="_blank" @click="clickLog(article[0])"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    
    var app = new Vue({
        el: "#app",
        data: {
            loginCode: '',
            user: '',
            article: '',
            author: '',
            replyContent: '',
            commentClickCounter: {},
            unreadCount: '',
            mainClickCount: 0,
            flag: 0
        },
        methods: {
            getLoginInfo: function () {
                let that = this;
                axios.get("http://localhost:8080/authorize/test_login", {}).then(function (response) {
                    that.loginCode = response.data.code;
                    that.user = response.data.rsData;
                    if (that.loginCode === 200) {
                        that.getUnreadCount();
                    }
                });
            },

            getUnreadCount: function () {
                let that = this;
                axios.get("http://localhost:8080/notice/unreadCount", {}).then(function (response) {
                    that.unreadCount = response.data;
                })
            },

            redirectToSearch: function () {
                let keyword = $("#keyword").val();
                if (/[^\s]/.test(keyword)) {
                    window.open("/search?keyword=" + keyword);
                } else {
                    window.open("/search");
                }
            },
            
            getArticle: function () {
                let url = 'http://localhost:8080/article/' + window.location.pathname.split('/')[2];
                let that = this;
                axios.get(url, {}).then(function (response) {
                    if (response.data.code !== 200) {
                        window.location.href = "/error.html?" + response.data.code + "&" + response.data.message;
                    } else {
                        that.article = response.data.rsData;
                        that.author = response.data.rsData.author;
                        document.title = that.article.title;
                        $('#description').val(response.data.rsData.description);
                        editormd.markdownToHTML("article-view", {});
                    }
                });
            },

            publish: function () {
                if (this.user == null || this.user === '') {
                    alert("用户未登录，请登录后重试！");
                    return;
                }
                if (this.replyContent === '') {
                    alert("内容不能为空！");
                    return;
                }
                let param = {
                    "articleId": this.article.id,
                    "commentatorId": this.user.id,
                    "content": this.replyContent,
                    "authorId": this.author.id
                };
                axios.post("http://localhost:8080/article/publish/comment", param).then(function (response) {
                    if (response.data.code === 200) {
                        window.location.reload();
                    } else {
                        alert(response.data.message)
                    }
                });
            },

            beforeunloadFn: function () {
                if (this.flag !== 0) {
                    return;
                }
                let records = [];
                for (let index in this.commentClickCounter) {
                    if (this.commentClickCounter[index] & 1) {// 过滤非单数的操作
                        records.push({
                            "commentId": this.article.comments[index].id,
                            "commentatorId": this.article.comments[index].commentator.id,
                            "state": (this.article.comments[index].favorState + 1) & 1
                        })
                    }
                }
                let stateChange = this.mainClickCount & 1;
                if (records.length !== 0 || stateChange !== 0) {
                    let param = {
                        "articleId": this.article.id,
                        "articleAuthor": this.author.id,
                        "records": records,
                        "favorState": stateChange === 0 ? null : (this.article.favorState + 1) & 1,
                        "currentUserId": this.user.id
                    };
                    axios.post("http://localhost:8080/article/favor-confirm", param);
                }
                this.flag = 1;
            },

            loginInterceptor: function () {
                if (!this.user) {
                    let confirm = window.confirm("该操作需要登陆。需要跳转到登录页吗？");
                    if (confirm) {
                        window.location.href = "/sign_in.html";
                    }
                    return confirm;
                }
                return true;
            },

            /**
             * 点击评论点赞按钮触发事件
             * @param e
             * @param index
             * @detail record的"clickCount"字段表示点赞与否的状态(0或1)
             */
            addCommentRecord: function (e, index) {
                if (!this.loginInterceptor()) {
                    return;
                }
                if (this.commentClickCounter.hasOwnProperty(index)) {
                    this.commentClickCounter[index] += 1;
                } else {
                    this.commentClickCounter[index] = 1;
                }
                let likeCountTag = e.currentTarget.firstChild.children[1];
                if (e.currentTarget.firstChild.className) {
                    e.currentTarget.firstChild.className = '';
                    likeCountTag.innerText = parseInt(likeCountTag.innerText) - 1;
                } else {
                    e.currentTarget.firstChild.className = 'active';
                    likeCountTag.innerText = likeCountTag.innerText !== "赞" ? parseInt(likeCountTag.innerText) + 1 : 1;
                }
            },

            /**
             * 点击文章点赞按钮触发事件
             * @param e
             */
            clickFavorIcon: function (e) {
                if (!this.loginInterceptor()) {
                    return;
                }
                this.mainClickCount += 1;
                if ((this.mainClickCount + this.article.favorState) & 1) {
                    e.currentTarget.classList.add('active');
                    e.currentTarget.nextElementSibling.innerText = parseInt(e.currentTarget.nextElementSibling.innerText) + 1;
                } else {
                    e.currentTarget.classList.remove('active');
                    e.currentTarget.nextElementSibling.innerText = parseInt(e.currentTarget.nextElementSibling.innerText) - 1;
                }
            },

            clickLog: function(articleId){
                if (this.user == null) {
                    return;
                }
                let img = document.createElement("img");
                img.src = "/log?userId=" + this.user.id + "&articleId=" + articleId + "&event=click";
                img.setAttribute("onerror", "this.style.display='none'");
                document.getElementById("app").appendChild(img);
            },
            
            readLog: function () {
                if (this.user == null) {
                    return;
                }
                let img = document.createElement("img");
                img.src = "/log?userId=" + this.user.id + "&articleId=" + this.article.id + "&event=read";
                img.setAttribute("onerror", "this.style.display='none'");
                document.getElementById("app").appendChild(img);
            },
            
        },
        created: function () {
            this.getArticle();
            this.getLoginInfo();
            setTimeout(this.readLog, 30000);
        },
        mounted: function () {
            window.addEventListener('beforeunload', this.beforeunloadFn);    //更新页面
            window.addEventListener('unload', this.beforeunloadFn);    //更新页面
        }
    })


</script>

</body>
</html>

