<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>chh新闻社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.min.js"></script>
</head>
<body>

<div id="app">
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header"> <!--首页跳转-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">社区</span>
                </button>
                <a class="navbar-brand" href="/">社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="keyword" style="width: 536px;" placeholder="搜索关键字">
                    </div>
                    <button type="button" class="btn btn-default" @click="redirectToSearch">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/edit">发布</a></li>
                    <li><a href="/sign_in.html" v-show="loginCode != 200">登陆</a></li>
                    <li class="dropdown" v-if="loginCode === 200">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span v-text="user.name"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a :href="'/u/' + user.id">个人资料</a></li>
                            <li><a href="/my-notice/unread">我的通知 <span class="badge" v-text="unreadCount"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/authorize/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="aw-container-wrap">
        <!--分类列表-->
        <div class="category">
            <div class="row">
                <div class="col-md-12 bs-example">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" v-for="(item, index) in category"
                                :class="[{'active' : index == homeType}, 'btn', 'category-item']"
                                @click="toggle(item.id)" v-text="item.type">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!--新闻列表-->
                <div class="col-md-9">
                    <h2>
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <span>发现</span>
                    </h2>
                    <hr>
                    <div class="list-container">
                        <ul class="news-list">
                            <li v-for="(article, index) in articleList">
                                <div class="list-content">
                                    <a class="list-title" target="_blank" :href="'/a/' + article.id" 
                                       v-text="article.title" @click="clickLog(article.id)"></a>
                                    <p class="list-abstract" v-text="article.description"></p>
                                    <div class="list-meta">
                                        <span class="content-author">
                                            <a :href="'/u/' + article.author.id" v-text="article.author.name"></a>
                                        </span>
                                        <span class="meta-content index-favor-icon">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                            <span v-text="article.likeCount"></span>
                                        </span>
                                        <a target="_blank" :href="'/a/' + article.id + '#comment'">
                                            <span class="meta-content index-comment-icon">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                <span v-text="article.commentCount"></span>
                                            </span>
                                        </a>
                                        <span class="meta-content index-view-icon">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            <span v-text="article.viewCount"></span>
                                        </span>
                                        <span class="meta-content">• {{article.updateTime}} </span>
                                        <span class="label label-info index-tag" v-for="(tag, index) in article.tags">
                                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                            <span v-text="tag"></span>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </div>
                    <div id="paginator" class="home-page">
                        <ul class="pagination" id="home-page"></ul>
                    </div>
                </div>

                <!--侧边栏-->
                <div class="col-md-3">
                    <div id="recommend-list">
                        <h3 class="title">猜你喜欢</h3>
                        <div class="recommend-item" v-for="(article, index) in recommendList">
                            <a :href="'/a/' + article[0]" v-text="article[1]" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    var app = new Vue({
        el: "#app",
        data: {
            loginCode: '',
            user: '',
            category: [{id: 0, type: '全部'}],
            homeType: 0,
            articleList: [],
            unreadCount: '',
            currentPage: 1,   // 访问首页时默认请求第一页的数据，每页数据量pageSize由application.properties指定
            recommendList: []
        },
        methods: {
            getLoginInfo: function () {
                let that = this;
                axios.get("http://localhost:8080/authorize/test_login", {}).then(function (response) {
                    that.loginCode = response.data.code;
                    that.user = response.data.rsData;
                    if (that.loginCode === 200) {
                        that.getUnreadCount();
                    }
                    that.getRecommendList();
                })
            },

            getCategoryInfo: function () {
                let that = this;
                axios.get("http://localhost:8080/index/static").then(function (response) {
                    for (let item of response.data) {
                        that.category.push(item);
                    }
                })
            },

            getUnreadCount: function () {
                let that = this;
                axios.get("http://localhost:8080/notice/unreadCount", {}).then(function (response) {
                    that.unreadCount = response.data;
                })
            },
            
            redirectToSearch: function () {
                let keyword = $("#keyword").val();
                if (/[^\s]/.test(keyword)) {
                    window.open("/search?keyword=" + keyword);
                } else {
                    window.open("/search");
                }
            },
            
            /**
             * 动态设置分页栏
             * @param pageCurrent 当前所在页
             * @param pageSum 总页数
             * @param callback
             */
            setPage: function (pageCurrent, pageSum, callback) {
                let that = this;
                $("#home-page").bootstrapPaginator({
                    bootstrapMajorVersion: 3, //设置版本号
                    currentPage: pageCurrent, // 显示第几页
                    totalPages: pageSum,      // 总页数
                    alignment: "center",
                    onPageClicked: function (event, originalEvent, type, page) {
                        // 把当前点击的页码赋值给currentPage, 再次getArticleList
                        that.currentPage = page;
                        callback && callback();
                        window.scrollTo(0, 0);
                    }
                })
            },

            getArticleList: function () {
                let that = this;
                axios.get("http://localhost:8080/index/articles", {
                    params: {
                        "type": that.homeType,
                        "page": that.currentPage
                    }
                }).then(function (response) {
                    that.articleList = response.data.rsData.data;
                    if (response.data.rsData.data.length === 0) {
                        $("#paginator").hide();
                    } else {
                        $("#paginator").show();
                        that.setPage(that.currentPage, response.data.rsData.totalPage, that.getArticleList);
                    }
                });
            },

            /**
             * 获取当前页面的新闻类型，并传给后端并接受数据由getArticleList渲染
             * @param index
             */
            toggle: function (index) {
                this.homeType = index;
                this.currentPage = 1;
                this.getArticleList();
            },

            clickLog: function(articleId){
                if (this.user == null) {
                    return;
                }
                let img = document.createElement("img");
                img.src = "/log?userId=" + this.user.id + "&articleId=" + articleId + "&event=click";
                img.setAttribute("onerror", "this.style.display='none'");
                document.getElementById("app").appendChild(img);
            },
            
            getRecommendList: function () {
                let that = this;
                axios.get("http://localhost:8080/index/recommend?userId=" + (this.user === null ? '' : this.user.id), {})
                    .then(function (response) {
                        that.recommendList = response.data.rsData;
                    });
            }
        },
        created: function () {
            this.getCategoryInfo();
            this.getLoginInfo();
            this.getArticleList();
        }
    })


</script>

</body>
</html>

