<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>消息中心</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.min.js"></script>
</head>
<body>

<div id="app">

    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header"> <!--首页跳转-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">社区</span>
                </button>
                <a class="navbar-brand" href="/">社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="keyword" style="width: 536px;" placeholder="搜索关键字">
                    </div>
                    <button type="button" class="btn btn-default" @click="redirectToSearch">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/edit">发布</a></li>
                    <li><a href="/sign_in.html" v-show="loginCode != 200">登陆</a></li>
                    <li class="dropdown" v-if="loginCode === 200">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span v-text="user.name"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a :href="'/u/' + user.id">个人资料</a></li>
                            <li><a href="/my-notice/unread">我的通知 <span class="badge" v-text="unreadCount"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/authorize/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="aw-container-wrap notice-board">
        <div class="container container-fluid">
            <div class="row">
                <!--新闻列表-->
                <div class="col-md-9">
                    <div class="list-head">
                        <h2>
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            <span>我的通知</span>
                        </h2>
                        <hr>
                    </div>
                    <div class="list-container" v-if="dataList">
                        <ul class="notice-list">
                            <li v-if="dataList.length" v-for="(notice, index) in dataList">
                                <div class="list-content" v-if="notice.type === 1">
                                    <a :href="'/u/' + notice.notifier.id"><img src="/images/user.png" class="notice-user-icon"></a>
                                    <div>
                                        <div class="notice-list-meta">
                                            <div class="notice-title">
                                                <a :href="'/u/' + notice.notifier.id" v-text="notice.notifier.name" target="_blank" class="notice-user-url"></a>&nbsp;&nbsp;&nbsp;
                                                <span v-text="notice.action"></span>&nbsp;&nbsp;&nbsp;
                                                <img src="/images/LeftSharp.png">
                                                <a :href="(notice.state === 0 ? '/notice/' + notice.id + '?articleId=' : '/a/') + notice.comment.articleId"
                                                   target="_blank" v-text="notice.comment.articleTitle">
                                                </a>
                                                <img src="/images/RightSharp.png">
                                            </div>
                                            <div class="notice-source">
                                                <img src="/images/LeftQuotation.png">
                                                <a :href="(notice.state === 0 ? '/notice/' + notice.id + '?articleId=' : '/a/') + notice.comment.articleId"
                                                   target="_blank" v-text="notice.comment.content">
                                                </a>
                                                <img src="/images/RightQuotation.png">
                                            </div>
                                        </div>
                                        <div class="notice-time" v-text="notice.createTime"></div>
                                    </div>
                                    <div class="notice-type">
                                        <span class="label label-warning" v-if="notice.state === 0">未读</span>
                                    </div>
                                </div>
                                <div class="list-content" v-if="notice.type === 2">
                                    <a :href="'/u/' + notice.notifier.id"><img src="/images/user.png" class="notice-user-icon"></a>
                                    <div>
                                        <div class="notice-list-meta">
                                            <a :href="'/u/' + notice.notifier.id" v-text="notice.notifier.name" target="_blank" class="notice-user-url"></a>&nbsp;&nbsp;&nbsp;
                                            <span v-text="notice.action"></span>&nbsp;&nbsp;&nbsp;
                                            <img src="/images/LeftSharp.png">
                                            <a :href="(notice.state === 0 ? '/notice/' + notice.id + '?articleId=' : '/a/') + notice.article.id"
                                               target="_blank" v-text="notice.article.title">
                                            </a>
                                            <img src="/images/RightSharp.png">
                                        </div>
                                        <div class="notice-time" v-text="notice.createTime"></div>
                                    </div>
                                    <div class="notice-type">
                                        <span class="label label-warning" v-if="notice.state === 0">未读</span>
                                    </div>
                                </div>
                                <div class="list-content" v-if="notice.type === 3">
                                    <a :href="'/u/' + notice.notifier.id"><img src="/images/user.png" class="notice-user-icon"></a>
                                    <div>
                                        <div class="notice-list-meta">
                                            <div class="notice-title">
                                                <a :href="'/u/' + notice.notifier.id" v-text="notice.notifier.name" target="_blank" class="notice-user-url"></a>&nbsp;&nbsp;&nbsp;
                                                <span v-text="notice.action"></span>&nbsp;&nbsp;&nbsp;
                                                <img src="/images/LeftQuotation.png" >
                                                <a :href="(notice.state === 0 ? '/notice/' + notice.id + '?articleId=' : '/a/') + notice.comment.articleId"
                                                   target="_blank" v-text="notice.comment.content">
                                                </a>
                                                <img src="/images/RightQuotation.png" >
                                            </div>
                                            <div class="notice-source">
                                                <span style="vertical-align: -0.125em;">来自文章: </span>&nbsp;&nbsp;&nbsp;
                                                <img src="/images/LeftSharp.png">
                                                <a :href="(notice.state === 0 ? '/notice/' + notice.id + '?articleId=' : '/a/') + notice.comment.articleId"
                                                   target="_blank" v-text="notice.comment.articleTitle">
                                                </a>
                                                <img src="/images/RightSharp.png">
                                            </div>
                                        </div>
                                        <div class="notice-time" v-text="notice.createTime"></div>
                                    </div>
                                    <div class="notice-type">
                                        <span class="label label-warning" v-if="notice.state === 0">未读</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-if="!dataList.length">
                        <p class="none-notice">没有内容</p>
                    </div>
                    <div id="paginator" class="home-page">
                        <ul class="pagination" id="home-page"></ul>
                    </div>
                </div>

                <!--侧边栏-->
                <div class="col-md-3">
                    <div class="list-group notice-type-list">
                        <a href="/my-notice/unread" :class="['list-group-item', {'active' : type === 'unread'}]">未读回复<span class="badge" v-text="unreadCount"></span></a>
                        <a href="/my-notice/all" :class="['list-group-item', {'active' : type === 'all'}]">所有回复</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    var app = new Vue({
        el: "#app",
        data: {
            loginCode: '',
            user: '',
            dataList: '',
            type: location.pathname.split('/')[2],
            unreadCount: '',
            currentPage: 1   // 访问首页时默认请求第一页的数据，每页数据量pageSize由application.properties指定
        },
        methods: {
            getLoginInfo: function () {
                let that = this;
                axios.get("http://localhost:8080/authorize/test_login", {}).then(function (response) {
                    that.loginCode = response.data.code;
                    that.user = response.data.rsData;
                    that.getNotices();
                    that.getUnreadCount();
                })
            },

            getNotices: function () {
                let that = this;
                let url = "http://localhost:8080/notice/" + that.user.id + "/" + that.type;
                axios.get(url, {params:{"page": that.currentPage}}).then(function (response) {
                    if (response.data.code !== 200) {
                        window.location.href = "/error.html?" + response.data.code + "&" + response.data.message;
                    } else {
                        if (response.data.rsData.data.length === 0) {
                            $("#paginator").hide();
                        } else {
                            $("#paginator").show();
                            that.dataList = response.data.rsData.data;
                            that.setPage(that.currentPage, response.data.rsData.totalPage, that.getNotices);
                        }
                    }
                })
            },

            getUnreadCount: function () {
                let that = this;
                axios.get("http://localhost:8080/notice/unreadCount", {}).then(function (response) {
                    that.unreadCount = response.data;
                })
            },

            redirectToSearch: function () {
                let keyword = $("#keyword").val();
                if (/[^\s]/.test(keyword)) {
                    window.open("/search?keyword=" + keyword);
                } else {
                    window.open("/search");
                }
            },
            
            /**
             * 动态设置分页栏
             * @param pageCurrent 当前所在页
             * @param pageSum 总页数
             * @param callback
             */
            setPage: function (pageCurrent, pageSum, callback) {
                let that = this;
                $("#home-page").bootstrapPaginator({
                    bootstrapMajorVersion: 3, //设置版本号
                    currentPage: pageCurrent, // 显示第几页
                    totalPages: pageSum,      // 总页数
                    alignment : "center",
                    onPageClicked: function (event, originalEvent, type, page) {
                        // 把当前点击的页码赋值给currentPage, 再次getArticleList
                        that.currentPage = page;
                        callback && callback();
                    }
                })
            },
        },
        created: function () {
            this.getLoginInfo();
        }
    })

</script>

</body>
</html>