<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.min.js"></script>
</head>
<body>

<div id="app">
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header"> <!--首页跳转-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">社区</span>
                </button>
                <a class="navbar-brand" href="/">社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索关键字">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/edit">发布</a></li>
                    <li><a href="/sign_in.html" v-show="loginCode != 200">登陆</a></li>
                    <li class="dropdown" v-show="loginCode === 200">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span v-text="user != null ? user.name : ''"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a :href="loginCode === 200?'/u/' + user.id : ''">个人资料</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="aw-container-wrap">
        <div class="col-md-12" style="margin: 50px 50px ;">
            <span>用户：</span>
            <span v-text="homeUser.name" style="font-size: 25px;"></span>
        </div>

        <!--分类列表-->
        <div class="container category" style="margin-left: 40px;">
            <div class="row">
                <div class="col-md-12 bs-example">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" v-for="(type, index) in category"
                                :class="[{'active' : index == homeType}, 'btn', 'category-item']"
                                @click="toggle(index)">
                            {{type}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-fluid">
            <div class="row">
                <!--新闻列表-->
                <div class="col-md-9">
                    <div class="list-container">
                        <ul class="news-list" v-if="recordType === 'article'">
                            <li v-if="dataList.length" v-for="(article, index) in dataList">
                                <div class="list-content">
                                    <a class="list-title" target="_blank" :href="'/a/' + article.id"
                                       v-text="article.title"></a>
                                    <div class="list-meta">
                                        <span class="content-creator">
                                            <a :href="'/u/' + homeUser.id" v-text="homeUser.name"></a>
                                        </span>
                                        <span class="meta-content index-favor-icon">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                            <span v-text="article.likeCount"></span>
                                        </span>
                                        <a target="_blank" :href="'/a/' + article.id + '#comment'">
                                            <span class="meta-content index-comment-icon">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                <span v-text="article.commentCount"></span>
                                            </span>
                                        </a>
                                        <span class="meta-content index-view-icon">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            <span v-text="article.viewCount"></span>
                                        </span>
                                        <span class="meta-content">• {{article.gmtModified}} </span>
                                        <span class="label label-info user-article-tag" v-for="(tag, index) in article.tags">
                                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                            <span v-text="tag"></span>
                                        </span>
                                        <a :href="'/edit/' + article.id" class="article-menu"
                                           v-if="user != null && homeUser.id == user.id">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true">编辑</span>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            <li class="blank-guide" v-if="!dataList.length">你还没发布过一篇新闻呢，赶紧尝试一下把</li>
                        </ul>
                        <ul class="news-list" v-if="recordType === 'comment'">
                            <li v-if="dataList.length" v-for="(record, index) in dataList" class="display:table-cell;">
                                <div class="b_left_up">
                                    <span class="glyphicon glyphicon-comment index-comment-icon" aria-hidden="true"></span>
                                </div>
                                <div class="b_right_up">
                                    <div class="list-content">
                                        <h4>
                                            <a :href="'/u/' + homeUser.id" v-text="homeUser.name" target="_blank"></a>
                                            回复
                                            <cite v-text="record.gmtCreated"></cite>
                                        </h4>
                                        <div>
                                            <img src="http://static.tieba.baidu.com/tb/static-itieba3/img/yh_0.png">
                                            <a class="list-comment" :href="'/a/' + record.articleId + '#comment'"
                                               v-text="record.content" target="_blank"></a>
                                            <img src="http://static.tieba.baidu.com/tb/static-itieba3/img/yh_1.png">
                                            <span class="meta-content index-favor-icon">
                                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                                <span v-text="record.likeCount"></span>
                                            </span>
                                        </div>
                                        <div>
                                            <div class="common_source_top"></div>
                                            <div class="common_source_main">
                                                <span class="source-description">来自：</span>
                                                <a class="" target="_blank" :href="'/a/' + record.articleId"
                                                   v-text="record.articleTitle"></a>
                                            </div>
                                            <div class="common_source_bottom"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            <li class="blank-guide" v-if="!dataList.length">你还没评论过一篇新闻呢，赶紧尝试一下把</li>
                        </ul>
                        <ul class="news-list" v-if="recordType === 'favor'">
                            <li v-if="dataList.length" v-for="(article, index) in dataList">
                                <div class="list-content">
                                    <a class="list-title" target="_blank" :href="'/a/' + article.id"
                                       v-text="article.title"></a>
                                    <div class="list-meta">
                                        <span class="content-creator">
                                            <a :href="'/u/' + article.creator.id"v-text="article.creator.name"></a>
                                        </span>
                                        <span class="meta-content index-favor-icon">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                            <span v-text="article.likeCount"></span>
                                        </span>
                                        <a target="_blank" :href="'/a/' + article.id + '#comment'">
                                            <span class="meta-content index-comment-icon">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                <span v-text="article.commentCount"></span>
                                            </span>
                                        </a>
                                        <span class="meta-content index-view-icon">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            <span v-text="article.viewCount"></span>
                                        </span>
                                        <span class="meta-content">• {{article.gmtModified}} </span>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            <li class="blank-guide" v-if="!dataList.length">你还没推荐过一篇新闻呢，赶紧尝试一下把</li>
                        </ul>
                    </div>
                    <div id="paginator" class="home-page">
                        <ul class="pagination" id="home-page"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    var app = new Vue({
        el: "#app",
        data: {
            loginCode: '',
            user: '',
            homeUser: '',
            category: ['发布', '评论', '推荐'],
            homeType: 0,    // 默认为0，初次打开页面时访问'我的发布'
            dataList: [],
            recordType: '',
            currentPage: 1   // 访问首页时默认请求第一页的数据，每页数据量pageSize由application.properties指定
        },
        methods: {
            getLoginInfo: function () {
                let that = this;
                axios.get("http://localhost:8080/test_login", {}).then(function (response) {
                    that.loginCode = response.data.code;
                    that.user = response.data.rsData;
                })
            },

            getHomeUser: function () {
                let url = 'http://localhost:8080/user/' + window.location.pathname.split('/')[2];
                let that = this;
                axios.get(url, {}).then(function (response) {
                    if (response.data.code !== 200) {
                        window.location.href = "/error.html?" + response.data.code + "&" + response.data.message;
                    } else {
                        that.homeUser = response.data.rsData;
                        document.title = that.homeUser.name + " 的个人中心";
                    }
                });
            },

            convertToAction: function (index) {
                if (index === 0) {
                    return '/article';
                } else if (index === 1) {
                    return '/comment';
                } else if (index === 2) {
                    return '/favor';
                } else {
                    return '';
                }
            },

            getUserRecord: function (index) {
                let url = 'http://localhost:8080/user/' + window.location.pathname.split('/')[2] + this.convertToAction(index);
                let that = this;
                axios.get(url, {
                    params: {
                        "page": that.currentPage
                    }
                }).then(function (response) {
                    if (response.data.code !== 200) {
                        window.location.href = "/error.html?" + response.data.code + "&" + response.data.message;
                    } else {
                        if (!response.data.rsData.data.data.length) {
                            $("#paginator").hide();
                        } else {
                            $("#paginator").show();
                        }
                        that.dataList = response.data.rsData.data.data;
                        that.recordType = response.data.rsData.recordType;
                        that.setPage(that.currentPage, response.data.rsData.data.totalPage, that.getUserRecord, index);
                    }
                }).catch(function (reason) {
                    console.log(reason);
                })
            },

            /**
             * 动态设置分页栏
             * @param pageCurrent 当前所在页
             * @param pageSum 总页数
             * @param callback
             * @param param
             */
            setPage: function (pageCurrent, pageSum, callback, param) {
                let that = this;
                $("#home-page").bootstrapPaginator({
                    bootstrapMajorVersion: 3, //设置版本号
                    currentPage: pageCurrent, // 显示第几页
                    totalPages: pageSum,      // 总页数
                    alignment: "center",
                    onPageClicked: function (event, originalEvent, type, page) {
                        that.currentPage = page;
                        callback && callback(param);
                    }
                })
            },

            toggle: function (index) {
                this.homeType = index;
                this.currentPage = 1;
                this.getUserRecord(index);
            }
        },
        created: function () {
            this.getHomeUser();
            this.getLoginInfo();
            this.getUserRecord(this.homeType);
        }
    })


</script>

</body>
</html>

