body {
    background-color: #efefef;
}


/*登陆注册页面样式*/
.page-login {
    margin: 100px;
}

.img-box {
    margin-top: 86px;
    margin-left: 90px;
}


/*发布页面样式*/
.aw-container-wrap {
    margin: 55px 30px;
    background-color: white;
}

.tag-selector {
    margin-top: 5px;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
}

.tab-content .label-info {
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
}

.tag-selector .tab-content {
    padding: 20px;
}

.control-label {
    padding-top: 5px;
}

.btn-edit-summit {
    float: right;
    margin-bottom: 15px;
}

.type-article {
    margin-left: -30px;
    margin-top: 5px;
    margin-bottom: 15px;
}


/*首页样式*/
.category {
    padding: 25px 0 40px 13px;
}

.index-favor-icon {
    color: #ee4a4a;
}

.index-comment-icon, .index-view-icon {
    color: #8b6363;
}

.news-list {
    list-style: none;
    padding: 0 40px;
}

.list-content {
    padding-top: 20px;
}

.list-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 2.0;
    color: #0f0f0f;
}

.list-abstract {
    font-size: 13px;
    margin: 0 0 8px;
    line-height: 24px;
    color: #999;
    height: 75px;
}

.list-meta {
    padding-right: 0 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.content-creator {
    background-color: #f2f2f2;
    color: #999;
    padding: 0 5px;
    display: inline-block;
    margin-right: 20px;
}

.meta-content {
    margin-right: 15px;
}

.index-tag {
    float: right;
    margin-right: 15px;
    font-size: 11px;
}

.category-item {
    height: 40px;
    width: 80px;
    margin-right: 5px;
}

.category .active {
    background: #554a44;
    color: #fff;
}

#home-page {
    margin-left: 200px;
}

/*文章详情页样式*/
.article-detail, .article-comment, .article-reply-box {
    padding: 10px 20px 0;
    margin-bottom: 30px;
}

.article-comment {
    border: 1px solid #eee;
}

.markitup-box {
    padding: 10px 0;
    line-height: 1.6;
}

.mod-header-title {
    font-size: 25px;
    line-height: 30px;
}

.aw-side-bar {
    margin-left: -1px;
    padding-top: 20px;
    border-left: 1px solid #e6e6e6;
    padding-bottom: 25%;
}

.aw-mod {
    padding-top: 0;
    border-top: none;
}

.aw-head {
    font-size: 15px;
}

.aw-user-name {
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}

.article-menu {
    font-size: 12px;
    color: #999;
}

.article-tags {
    font-size: 16px;
}

.article-detail .mod-header hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.article-tags .label {
    margin-right: 10px;
}

.aw-body .list-body {
    list-style: none;
    padding: 5px;
    font-size: 12px;
}

.aw-body .list-body li {
    padding-top: 8px;
}

.comment-count {
    border-left: 4px solid #ec7259;
    padding-left: 12px;
    margin-bottom: 40px;
}

.comment-area {
    margin-bottom: 8px;
}

.comment-commentator {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

.comment-otherInfo {
    margin-top: 2px;
    font-size: 12px;
    color: #969696;
}

.comment-presentation {
    margin-bottom: 30px;
}

.comment-content {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

.commentator-a {
    color: inherit;
}

.comment-body {
    padding-left: 40px;
}

.comment-actions {
    margin-top: 10px;
    color: #b0b0b0;
    cursor: pointer;
    display: inline-block;
}

.comment-actions .comment-action, .label-info .glyphicon-tag {
    vertical-align: -0.125em;
}

.comment-actions :hover, .comment-actions .active {
    color: #ff0000;
}

.comment-body hr {
    margin-top: 13px;
}

.favor-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #969696;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}

.favor-action {
    display: flex;
    align-items: center;
}

.favor-num {
    margin-left: 15px;
}

.favor-icon :hover, .favor-action .active {
    color: #ec7259;
    display: flex;
}

/*用户主页样式*/
.common_source_top {
    width: 637px;
    height: 12px;
    background: url(//tb2.bdstatic.com/tb/static-itieba3/img/base/icons.gif?v=6&t=1572504362374) no-repeat scroll 0 -875px;
}

.common_source_main {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    background: #fafafa;
    padding: 12px 15px;
    margin-left: 1px;
    width: 620px;
}

.common_source_bottom {
    width: 623px;
    height: 12px;
    background: url(//tb2.bdstatic.com/tb/static-itieba3/img/base/icons.gif?v=6&t=1572504362374) no-repeat scroll 0 -890px;
}

cite {
    font-size: 12px;
    color: #7f7f7f;
    margin-right: 10px;
    float: right;
    font-style: normal;
}

.b_left_up {
    padding: 0;
    width: 38px;
    overflow: hidden;
    float: left;
    border: 0;
    text-align: center;
    margin: 7px;
    font-size: 36px;
}

.b_right_up {
    margin-left: 72px;
    border: 0;
    width: 625px;
}

.list-comment {
    padding-left: 10px;
    font-size: 12px;
    color: black;
}

.b_right_up .list-content .meta-content {
    float: right;
}

.source-description {
    font-size: 12px;
}

.blank-guide {
    height: 50vh;
}